/* market */

.logo_market {
    margin: 0 auto;
    padding-top: 40px;
    width: 500px;
    height: 130px;
    background:url(../images/logo_market.png) no-repeat bottom;
    background-size: contain;
}

.market_block {
    width: 860px;
    height: 565px;
    background-color: #ffffff;
    border-radius: 6px;
    margin-left: 10px;
    padding-top: 10px;
    padding-left: 10px;
    overflow-y: scroll;
    scrollbar-color: #1c4682 #C2D2E4;
}

.market_filter {
    width: 860px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 6px;
    margin-left: 280px;
    margin-bottom: 10px;
    padding-top: 5px;
    display: inline-flex;
}

.market_filter_btn {
    height: 24px;
    background-color: #fff;
    color: #1c4682;
    display: block;
    font-family: "Molot";
    text-align: center;
    border-radius: 6px;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    border: solid;
    border-width: 1px;
    border-color: #1c4682;
    padding: 5px;
    font-size: 20px;
}

.market_filter_btn.selected {
    background-color: #1c4682;
    color: #fff;
}

.market_block.hidden {
    display: none;
}

.market_content {
    clear: both;
    display: flex;
    width: 1148px;
}

.market_cell {
    width: 190px;
    height: 250px;
    border-color: #1c4682;
    border-style: solid;
    border-width: 1px;
    display: block;
    background-color: #ffffff;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    text-decoration: none;
    padding: 0px;
}

.market_cell:last-child {
    margin-right: 0;
}

.market_cell.selected {
    border-color: #d25752;
}

.market_label {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    background-color: #1c4682;
    height: 47px;
    width: 188px;
    vertical-align: middle;
    margin-top: 120px;
    padding-top: 3px;
    padding-left: 1px;
    padding-right: 1px;
}

.market_label.selected {
    background-color: #d25752;
}

.market_cost {
    font-size: 24px;
    color: #1c4682;
    text-align: center;
    height: 30px;
    width: 200px;
    vertical-align: middle;
}

.market_controls {
    display: table-cell;
}

.market_btn {
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    background-color: #1c4682;
    border-radius: 6px;
    height: 46px;
    width: 55px;
    margin-left: 10px;
    float: left;
}

.market_btn.market_btn_minus {
    background-color: #d25752;
}

.market_numbox {
    width: 40px;
    height: 44px;
    border-radius: 6px;
    text-decoration: none;
    border-color: #1c4682;
    border-style: solid;
    border-width: 2px;
    margin-left: 10px;
    font-size: 36px;
    color: #1c4682;
    text-align: center;
    vertical-align: middle;
    float: left;
}

.block_menu_container {
    width: 262px;
    height: 565px;
    background-color: #ffffff;
    border-radius: 6px;
    padding-top: 10px;
    padding-left: 10px;
}

.block_menu {
    width: 250px;
    height: 90px;
    background-color: #fff;
    color: #1c4682;
    display: block;
    font-family: "Molot";
    text-align: center;
    border-radius: 6px;
    display: flex;
    margin-bottom: 10px;
    border: solid;
    border-width: 1px;
    border-color: #1c4682;
}

.block_menu.selected{
    background-color: #1c4682;
    color: #fff;
}

.block_menu_label {
    font-size: 26px;
    margin-top: 0;
    padding-top: 15px;
    width: 150px;
}

.market_icon {
    margin-right: 15px;
    margin-left: 10px;
    margin-top: 10px;
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

.footersum.market_sum {
    height: 55px;
}

.footersum.market_sum stitog1 {
    padding-top: 10px;
}

.line_buttons {
    clear: both;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 1160px;
}

.market-shampoo {background:url(../images/market-shampoo.png) no-repeat center #ffffff; background-size: 60px 60px; padding: 3px;}
.market-hair-gel {background:url(../images/market-hair-gel.png) no-repeat center #ffffff; background-size: 60px 60px; padding: 3px;}
.market-shaving {background:url(../images/market-shaving.png) no-repeat center #ffffff; background-size: 60px 60px; padding: 3px;}
.market-other {background:url(../images/market-other.png) no-repeat center #ffffff; background-size: 60px 60px; padding: 3px;}

.shampoo_1 {background:url(../images/market/shampoo_1.png) no-repeat top #ffffff; background-size: 120px 120px;}
.shampoo_2 {background:url(../images/market/shampoo_2.png) no-repeat top #ffffff; background-size: 120px 120px;}
.shampoo_3 {background:url(../images/market/shampoo_3.png) no-repeat top #ffffff; background-size: 120px 120px;}
.shampoo_10 {background:url(../images/market/shampoo_10.png) no-repeat top #ffffff; background-size: 120px 120px;}
.shampoo_11 {background:url(../images/market/shampoo_11.png) no-repeat top #ffffff; background-size: 120px 120px;}
.shampoo_12 {background:url(../images/market/shampoo_12.png) no-repeat top #ffffff; background-size: 120px 120px;}
.shampoo_13 {background:url(../images/market/shampoo_13.png) no-repeat top #ffffff; background-size: 120px 120px;}
.shampoo_14 {background:url(../images/market/shampoo_14.png) no-repeat top #ffffff; background-size: 120px 120px;}
.shampoo_15 {background:url(../images/market/shampoo_15.png) no-repeat top #ffffff; background-size: 120px 120px;}
.shampoo_16 {background:url(../images/market/shampoo_16.png) no-repeat top #ffffff; background-size: 120px 120px;}
.shampoo_17 {background:url(../images/market/shampoo_17.png) no-repeat top #ffffff; background-size: 120px 120px;}
.shampoo_18 {background:url(../images/market/shampoo_18.png) no-repeat top #ffffff; background-size: 120px 120px;}
.shampoo_19 {background:url(../images/market/shampoo_19.png) no-repeat top #ffffff; background-size: 120px 120px;}

.styling_2 {background:url(../images/market/styling_2.png) no-repeat top #ffffff; background-size: 120px 120px;}
.styling_3 {background:url(../images/market/styling_3.png) no-repeat top #ffffff; background-size: 120px 120px;}
.styling_15 {background:url(../images/market/styling_15.png) no-repeat top #ffffff; background-size: 120px 120px;}
.styling_16 {background:url(../images/market/styling_16.png) no-repeat top #ffffff; background-size: 120px 120px;}
.styling_17 {background:url(../images/market/styling_17.png) no-repeat top #ffffff; background-size: 120px 120px;}
.styling_18 {background:url(../images/market/styling_18.png) no-repeat top #ffffff; background-size: 120px 120px;}
.styling_19 {background:url(../images/market/styling_19.png) no-repeat top #ffffff; background-size: 120px 120px;}
.styling_20 {background:url(../images/market/styling_20.png) no-repeat top #ffffff; background-size: 120px 120px;}
.styling_21 {background:url(../images/market/styling_21.png) no-repeat top #ffffff; background-size: 120px 120px;}
.styling_22 {background:url(../images/market/styling_22.png) no-repeat top #ffffff; background-size: 120px 120px;}
.styling_23 {background:url(../images/market/styling_23.png) no-repeat top #ffffff; background-size: 120px 120px;}

.shaving_7 {background:url(../images/market/shaving_7.png) no-repeat top #ffffff; background-size: 90px 120px;}
.shaving_8 {background:url(../images/market/shaving_8.png) no-repeat top #ffffff; background-size: 90px 120px;}
.shaving_9 {background:url(../images/market/shaving_9.png) no-repeat top #ffffff; background-size: 90px 120px;}
.shaving_10 {background:url(../images/market/shaving_10.png) no-repeat top #ffffff; background-size: 90px 120px;}
.shaving_11 {background:url(../images/market/shaving_11.png) no-repeat top #ffffff; background-size: 90px 120px;}

.other_1 {background:url(../images/market/other_1.png) no-repeat 50% 12% #ffffff; background-size: 90px 90px;}
.other_2 {background:url(../images/market/other_1.png) no-repeat top #ffffff; background-size: 110px 110px;}