a {color: #333; text-decoration: none; font-size: 25px;}
a:hover {color:#ccc; text-decoration:none}
#mask {
	position:fixed;
	left:0;
	top:0;
	z-index:9000;
	background-color:#000;
	display:none;
	font-family: Georgia;
	}
#boxes .window {
	position:absolute;
	left:0;
	top:0;
	width:440px;
	height:200px;
	display:none;
	z-index:9999;
	padding:20px;
	text-align: center;
	font-size: 15px;
	border-radius: 6px;
	}
#boxes #dialog {
	width:800px;
	height:800px;
	padding:10px;
	background-color:#FFFFFF;
	}

#boxes #pay_by_card_dialog {
	width:700px;
	height:800px;
	padding:10px;
	background-color:#FFFFFF;
	}

#boxes #pay_by_sbp_dialog {
	width:700px;
	height:800px;
	padding:10px;
	background-color:#FFFFFF;
	}

#boxes #pindialog {
	width:580px;
	height:640px;
	padding:10px;
	background-color:#FFFFFF;
	}

#boxes #promocode_dialog {
	width:700px;
	height:830px;
	padding:10px;
	background-color:#FFFFFF;
}

#boxes #personal_data_dialog {
	width:1000px;
	height:860px;
	padding:10px;
	background-color:#FFFFFF;
}

#boxes #staff_pin_dialog {
	width:580px;
	height:620px;
	padding:10px;
	background-color:#FFFFFF;
}

#boxes #bonus_pin_dialog {
	width:900px;
	height:850px;
	padding:10px;
	background-color:#FFFFFF;
}

#boxes #bonus_reg_dialog {
	width:900px;
	height:850px;
	padding:10px;
	background-color:#FFFFFF;
}

#boxes #bonus_reg_dialog_with_amount {
	width:900px;
	height:850px;
	padding:10px;
	background-color:#FFFFFF;
}

#boxes #bonus_dialog {
	width:900px;
	height:850px;
	padding:10px;
	background-color:#FFFFFF;
}

.close {
}
	
.modal_button {
    width:200px;
    height:70px;
    font-size: 22pt;
	cursor: crosshair;
	background-color: #d25752;
	color: #fff;
	border-radius: 4px;
	margin-left: 30px;
	margin-right: 30px;
}

.num_pad_button {
    width:73px;
    height:70px;
    font-size: 24pt;
	cursor: crosshair;
	background-color: #1c4682;
	color: #fff;
	float: none;
	margin: 1px;
	border-radius: 6px;
	text-decoration: none;
}

.num_pad_button:enabled:ACTIVE, .clear_pad_button:enabled:ACTIVE {
	background-color: #d25752;
}

#promocode_input {
	width: 340px;
	height: 50px;
	border-radius: 6px;
	text-decoration: none;
	border-color:#1c4682;
	border-style: solid;
	border-width: 2px;
	font-size: 50px;
	color: #1c4682;
	text-align: center;
	margin-bottom: 30px;
}

#promocode_result_msg {
	height: 70px;
	width: 700px;
	font-size: 30px;
	color: #d25752;
	text-align: center;
	padding-top: 15px;
}

.success {
	color: #1c4682 !important;
}

.login_input_field {
	width: 300px;
	height: 50px;
	font-size: 25pt;
	text-align: center;
	margin-bottom: 10px;
	border-radius: 6px;
	text-decoration: none;
	border-color:#1c4682;
	border-style: solid;
	border-width: 2px;
}

.clear_pad_button {
    width:152px;
    height:70px;
    font-size: 18pt;
	cursor: crosshair;
	background-color: #1c4682;
	color: #fff;
	border-radius: 6px;
	margin: 1px;
}


.dialog_text_box {
	margin-top: 30px;
	margin-bottom: 10px;
	display: inline-flex;
}

.dialog_footer {
	margin-top: 80px;
	margin-bottom: 10px;
}

.qr-container {
	height: 200px;
	width: 200px;
	padding: 5px;
}

.bonus_qr {
	display: inline-flex;
}

#promocode_success_box {
	margin-top: 150px;
	margin-bottom: 10px;
}

#promocode_success_btns {
	margin-top: 250px;
	margin-bottom: 10px;
}

#personal_data_content {
	height: 500px;
	width: 900px;
	background: rgba(229, 229, 229, 0.09);
	overflow-y: scroll;
	color: #1c4682;
	margin: auto;
	border-color: #1c4682;
	border-style: solid;
	border-width: 2px;
	border-radius: 8px;
	padding: 20px;
	margin-bottom: 20px;
	margin-top: 30px;
	font-family: OptimaCyr;
}

#personal_data_content li {
	text-align: left;
}

.staff_modal_button {
	width:170px;
	height:60px;
	font-size: 15pt;
	cursor: crosshair;
	background-color: #d25752;
	color: #fff;
	border-radius: 4px;
	margin: auto;
}

#staff_op_result_msg {
	height: 60px;
	width: 580px;
	font-size: 25px;
	color: #d25752;
	text-align: center;
	padding-top: 15px;
}

.bonus_dialog_content {
	height: 580px;
}

.bonus_comment {
	font-size: 24px;
	color: #1c4682;
	width: 600px;
	margin-top: 100px;
}

.bonus_dialog_label {
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 36px;
	display: inline-flex;
	color: #1c4682;
}


#bonus_result_msg {
	height: 50px;
	font-size: 24px;
	color: #d25752;
	text-align: center;
	padding-top: 15px;
}