@charset "UTF-8";
/* Body */

@font-face {
	font-family: Molot;
	src: url(8232.otf); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: OptimaCyr;
	src: url(optima_cyr.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: ALSRubl;
	src: url(rouble.otf); /* Путь к файлу со шрифтом */
}

body {
	font-family: Molot;
	background-color: #f1f1f1;
	margin: 0;
	padding: 0;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	touch-action: none;
	cursor: crosshair;
}
button {
	font-family: Molot;
	border: none;
	cursor: crosshair;
}
label {
	cursor: crosshair;
}

button:active, button:focus {
	outline: none;
}
button::-moz-focus-inner {
	border: 0;
}

.currency {
	font-family: "ALSRubl";
	font-weight: bold;
}

.logo {
	margin: 0 auto;
	padding-top: 40px;
	width: 500px;
	height: 130px;
	background:url(../images/logo.png) no-repeat bottom;
	background-size: contain;
}
/* Страница 1 */
.container {
	width: 1160px;
    height: 704px;
	margin: 0 auto;
	margin-top: 30px;
}
.line1 {
	clear: both;
    display: inline-block;
    margin-bottom: 40px;
    width: 1160px;
}
.line2 {
	clear: both;
    display: inline-block;
    margin-bottom: 60px;
    width: 1160px;
}
.line2:last-child {
    margin-bottom: 0;
}
.line3 {
	clear: both;
	display: inline-block;
	margin-bottom: 20px;
	width: 1160px;
}

.extras_line {
	clear: both;
	display: inline-block;
	margin-bottom: 20px;
	width: 1160px;
}
.extras_line:last-child {
	margin-bottom: 0;
}

.thumb1 {
	display: block;
	background-color: #d25752;
	float: left;
	margin-right: 103px;
	height: 90px;
	width: 314px;
	border-radius: 6px;
	text-decoration: none;
}
.thumb1.pl1{
    width: 273px;
	margin-right: 22px;
	background-color: #1c4682;
}

.thumb1.services {
	width: 500px;
	margin-right: 148px;
	background-color: #1c4682;
}

.thumb1.payment {
	width: 216px;
	margin-right: 20px;
}

.thumb1.payment_market {
	width: 250px;
	margin-right: 49px;
}

.thumb1.market {
	width: 648px;
	margin-left: 250px;
	background-color: #1c4682;
}

.thumb1.extra {
	background-color: #1c4682;
	margin-right: 32px;
	width: 265px;
	height: 75px;
}

.stock_footer {
	clear: both;
	display: inline-block;
	width: 1160px;
	margin-top: 76px;
}

.thumb1.stock {
	margin-right: 115px;
}

.thumb1.stock:disabled {
	margin-right: 115px;
	background-color: #f1f1f1;
}

.thumb1:last-child {
	margin-right: 0;
}
.thumb1text{
	font-size: 27px;
	color: #fff;
	text-align: center;
	margin-top: 19px;
}
button .thumb1text{
	margin-top: 2px;
}
button .opl{
	margin-top: 0px;
	font-size: 44px;
}
button .font_36 {
	font-size: 36px;
}
button .btn_font_32 {
	font-size: 30px;
}
button .font_30 {
	font-size: 30px;
}
button:disabled {
	opacity: 0.5;
}

.thumb1.thumb1_sel{
	background-color: #d25752;
}
.thumb1:enabled:ACTIVE {
	background-color: #d25752;
}
.thumb1:disabled {
  opacity: 0.5;
}
.thumb2 {
	display: block;
	background-color: #ffffff;
	float: left;
	margin-right: 36px;
	height: 235px;
	width: 260px;
	border-radius: 6px;
	text-decoration: none;
	border-color: #1c4682;
	border-style: solid;
	border-width: 0px 0px 0px 0px;
	padding: 0px;
}
.thumb2:last-child {
	margin-right: 0;
}

.cards_l_margin {
	margin-left: 148px;
}

.thumb2text{
	font-size: 25px;
	color: #ffffff;
	text-align: center;
	background-color: #1c4682;
	border-radius: 6px;
	height: 65px;
	margin-top: 180px;
	padding-top: 5px;
}

.thumb_text_extras{
	font-size: 17px;
	color: #ffffff;
	text-align: center;
	background-color: #1c4682;
	border-radius: 6px;
	height: 44px;
	margin-top: 142px;
	padding-top: 5px;
}

.cards1{background:url(../images/11a.png) no-repeat top; background-size: 180px 180px; background-color: #FFFFFF;}
.cards2{background:url(../images/11b.png) no-repeat top; background-size: 180px 180px; background-color: #FFFFFF;}
.cards3{background:url(../images/11c.png) no-repeat top; background-size: 180px 180px; background-color: #FFFFFF;}
.cards4{background:url(../images/11d.png) no-repeat top; background-size: 180px 180px; background-color: #FFFFFF;}
.cards5{background:url(../images/11e.png) no-repeat top; background-size: 180px 180px; background-color: #FFFFFF;}
.cards6{background:url(../images/11f.png) no-repeat top; background-size: 180px 180px; background-color: #FFFFFF;}
.cards7{background:url(../images/11g.png) no-repeat top; background-size: 180px 180px; background-color: #FFFFFF;}
.cards8{background:url(../images/11o.png) no-repeat top; background-size: 180px 180px; background-color: #FFFFFF;}

.card_extra_a{background:url(../images/23a.png) no-repeat center 10%; background-size: 130px 130px; background-color: #FFFFFF;}
.card_extra_b{background:url(../images/23b.png) no-repeat center 10%; background-size: 130px 130px; background-color: #FFFFFF;}
.card_extra_c{background:url(../images/23c.png) no-repeat center 10%; background-size: 130px 130px; background-color: #FFFFFF;}
.card_extra_d{background:url(../images/23d.png) no-repeat center 10%; background-size: 130px 130px; background-color: #FFFFFF;}
.card_extra_e{background:url(../images/23e.png) no-repeat center 10%; background-size: 130px 130px; background-color: #FFFFFF;}
.card_extra_f{background:url(../images/23f.png) no-repeat center 10%; background-size: 130px 130px; background-color: #FFFFFF;}
.card_extra_g{background:url(../images/23g.png) no-repeat center 10%; background-size: 130px 130px; background-color: #FFFFFF;}
.card_extra_h{background:url(../images/23h.png) no-repeat center 10%; background-size: 130px 130px; background-color: #FFFFFF;}
.card_extra_j{background:url(../images/23j.png) no-repeat center 10%; background-size: 130px 130px; background-color: #FFFFFF;}
.card_extra_k{background:url(../images/23k.png) no-repeat center 10%; background-size: 130px 130px; background-color: #FFFFFF;}
.card_extra_l{background:url(../images/23l.png) no-repeat center 10%; background-size: 130px 130px; background-color: #FFFFFF;}
.card_extra_m{background:url(../images/23m.png) no-repeat center 10%; background-size: 130px 130px; background-color: #FFFFFF;}
.card_extra_n{background:url(../images/23n.png) no-repeat center 10%; background-size: 130px 130px; background-color: #FFFFFF;}
.card_extra_o{background:url(../images/23o.png) no-repeat center 10%; background-size: 130px 130px; background-color: #FFFFFF;}
.card_extra_p{background:url(../images/23p.png) no-repeat center 10%; background-size: 130px 130px; background-color: #FFFFFF;}

.thumb_actions {
	display: block;
	background-color: #ffffff;
	float: left;
	margin-left: 130px;
	margin-right: 130px;
	height: 250px;
	width: 314px;
	border-radius: 6px;
	text-decoration: none;
	border-color: #1c4682;
	border-style: solid;
	border-width: 0px 0px 0px 0px;
	padding: 0px;
}

.thumb_actions_label {
	font-size: 40px;
	color: #1c4682;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	height: 180px;
	width: 374px;
}

.thumb_actions_text{
	font-size: 25px;
	color: #ffffff;
	text-align: center;
	background-color: #1c4682;
	border-radius: 6px;
	height: 50px;
	padding-top: 20px;
}

.thumb_extras {
	display: block;
	background-color: #ffffff;
	float: left;
	margin-right: 20px;
	height: 190px;
	width: 215px;
	border-radius: 6px;
	text-decoration: none;
	border-color: #1c4682;
	border-style: solid;
	border-width: 0px 0px 0px 0px;
	padding: 0px;
}
.thumb_extras:last-child {
	margin-right: 0;
}

/* Страница 2 */
.center1 {
	width: 1160px;
	/*height: 348px;*/
}
#positionImgClass{
	width: 1160px;
	height: 315px;
	background-color: #ffffff;
	border-radius: 6px;
	display: flex;
}

.haircut_a {background:url(../images/3a.png) no-repeat center; background-size: 560px 280px;}
.haircut_b {background:url(../images/3b.png) no-repeat center; background-size: 560px 280px;}
.haircut_c {background:url(../images/3c.png) no-repeat center; background-size: 560px 280px;}
.haircut_d {background:url(../images/3d.png) no-repeat center; background-size: 560px 280px;}
.haircut_e {background:url(../images/3e.png) no-repeat center; background-size: 560px 280px;}
.haircut_f {background:url(../images/3f.png) no-repeat center; background-size: 560px 280px;}
.haircut_g {background:url(../images/3g.png) no-repeat center; background-size: 560px 280px;}
.haircut_o {background:url(../images/3o.png) no-repeat center; background-size: 560px 280px;}
.extra_a {background:url(../images/23a.png) no-repeat center; background-size: 260px 230px;}
.extra_b {background:url(../images/23b.png) no-repeat center; background-size: 260px 230px;}
.extra_c {background:url(../images/23c.png) no-repeat center; background-size: 260px 230px;}
.extra_d {background:url(../images/23d.png) no-repeat center; background-size: 260px 230px;}
.extra_e {background:url(../images/23e.png) no-repeat center; background-size: 260px 230px;}
.extra_f {background:url(../images/23f.png) no-repeat center; background-size: 260px 230px;}
.extra_g {background:url(../images/23g.png) no-repeat center; background-size: 260px 230px;}
.extra_h {background:url(../images/23h.png) no-repeat center; background-size: 260px 230px;}
.extra_j {background:url(../images/23j.png) no-repeat center; background-size: 260px 230px;}
.extra_k {background:url(../images/23k.png) no-repeat center; background-size: 260px 230px;}
.extra_l {background:url(../images/23l.png) no-repeat center; background-size: 260px 230px;}
.extra_m {background:url(../images/23m.png) no-repeat center; background-size: 260px 230px;}
.extra_n {background:url(../images/23n.png) no-repeat center; background-size: 260px 230px;}
.extra_o {background:url(../images/23o.png) no-repeat center; background-size: 260px 230px;}
.extra_p {background:url(../images/23p.png) no-repeat center; background-size: 260px 230px;}
.action_a {background:url(../images/action_a.png) no-repeat center; background-size: 280px 280px;}
.action_b {background:url(../images/action_b.png) no-repeat center; background-size: 560px 280px;}
.action_c, .action_d{
	font-size: 48px;
	color: #1c4682;
	text-align: center;
	margin-top: 120px;
}


.centerfon {
    width: 1160px;
    height: 65px;
    background-color: #1c4682;
    color: #fff;
    display: block;
    font-family: "Molot";
    text-align: center;
	border-radius: 6px;
	margin-bottom: 20px;
}
.centerfon st1 {
	display: block;
    font-size: 36px;
    /*margin-bottom: 14px;*/
    margin-top: 0;
    padding-top: 12px;
}
.centerfon st2 {
	display: block;
    font-size: 32px;
    margin-top: 0;
}
.footer1 {
    color: #38498b;
    font-family: "Molot";
    text-align: center;
}

.image_block {
	width: 715px;
	height: 290px;
}

.footersum {
	width: 314px;
	height: 96px;
	margin-right: 103px;
	display: block;
	float: left;
}
.footersum:last-child {
	margin-right: 0;
}
.footersum stitog1 {
	display: block;
	font-size: 36px;
	padding-top: 28px;
	/*padding-left: 24px;*/
	text-align: left;
}
.footersum stsum1 {
}

.footerkn {
	width: 1080px;
	height: 89px;
	display: block;
}
.gcenter1 {
	width: 1160px;
	height: 450px;
	margin-bottom: 100px;
	background-color: #1c4682;
	color: #fff;
    display: block;
    text-align: center;
}
.gcenter1 st1 {
	display: block;
    font-size: 56px;
    padding: 120px 100px 0;
}
.gcenter1 st2 {
	display: block;
    font-size: 48px;
    padding: 36px 100px 0;
}
.from_where_panel {
	margin-bottom: 54px;
}
.from_where_panel .line1 {
	margin-bottom: 70px;
}
.from_where_panel .thumb1{
	background-color: #1c4682;
    height: 140px;
}
.gfooter1 {
    margin-top: 136px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    height: 100px;
}
.gfooter1 .thumb1 {
    margin: 0;
}
.gfooter1 .thumb1:last-child {
    float: right;
}
.gtv {
	margin-top: 24px;
	font-size: 46px;
}

.recept{
	width: 1160px;
	height: 600px;
	margin-bottom: 60px;
}

.tiket{
	width: 1160px;
	margin-bottom: 60px;
}

.recept_block{
	width: 500px;
	margin: auto;
	height: 400px;
}

.check_qr {
	margin-left: 150px;
	margin-bottom: 70px;
	margin-top: 50px;
}

st3 {
	color: #1c4682;
    display: block;
    text-align: center;
	font-size: 48px;
	height: 50px;
}

st3.comment {
	font-size: 32px;
	padding-top: 15px;
	height: 30px;
}

st3-1 {
	color: #d25752;
}
.tiket st4 {
	color: #1c4682;
	display: block;
	text-align: center;
	font-size: 64px;
	height: 300px;
	margin-top: 150px;
}
.tiket st5 {
	color: #1c4682;
	display: block;
	text-align: center;
	font-size: 42px;
	height: 50px;
}

.partition_label {
	width: 100%;
	margin-bottom: 30px;
	color: #1c4682;
	display: block;
	text-align: center;
	font-size: 48px;
	height: 50px;
}

.like {
	margin-bottom: 74px;
	width: auto;
}

.voting_info {
	width: 270px;
	height: 150px;
	margin-right: 50px;
	background:url(../images/vote_info.png) no-repeat;
	background-size: contain;
}

.vote {
	height: 120px;
	width: 93px;
	float: left;
	border-radius: 8px;
	margin-right: 60px;
	position: relative;
	display: inline-block;
}
.vote:last-child {
	margin-right: 0;
}

.vote_next_btn {
	margin-top: 18px;
	float: right;
}

.voting_tip {
	font-size: 30px;
	text-align: center;
	padding-top: 48px;
}

.voting_star {
	background:url(../images/rating.png) no-repeat left -115px;
	position: relative;
	display: inline-block;
	color: #d25752;
}
.voting_star_active {
	background:url(../images/rating.png) no-repeat left 0px;
	position: relative;
	display: inline-block;
	color: #ffffff;
}

#stock_boxes {
	display: flex;
	align-content: center;
	width: auto;
	height: 245px;
}

.chbox {
	width: 164px;
	height: 164px;
	border-radius: 6px;
    text-decoration: none;
    border-style: solid;
    border-width: 0px;
	float: left;
	margin: auto;
}

.chbox.chek {background:url(../images/box_chek.png) no-repeat #5b88c9; background-size: contain;}
.chbox.box {background:url(../images/box.png) no-repeat #d9d9d9; background-size: contain;}
.chbox.stock {background:url(../images/stock.png) no-repeat #fabebe; background-size: contain;}
.chbox.stock_red {background:url(../images/stock_red.png) no-repeat #d25752; background-size: contain;}


.numbox {
	width: 77px;
    height: 100px;
    border-radius: 6px;
    text-decoration: none;
    border-color: #1c4682;
    border-style: solid;
    border-width: 2px;
    float: left;
    margin-right: 12px;
	font-size: 60px;
	color: #1c4682;
	text-align: center;
	vertical-align: middle;
}
numtext {
	display: block;
	padding-top: 15px;
}
.numbox:last-child {
    margin-right: 0;
}
.numbox:first-child {
	color: #ffffff;
	background-color: #d25752;
	border-color: #d25752;
	margin-left: 30px;
}

.center4 {
    clear: both;
    display: inline-block;
    margin-bottom: 20px;
    width: 1160px;
}
.point {
	height: 100px;
	display: block;
    font-size: 50px;
    color: #38498b;
    float: left;
    padding-top: 22px;
    padding-right: 7px;
}
.tel {
	display: block;
    width: 320px;
    height: 414px;
    margin: 0 auto;
}
.numfooter {
	display: flex;
}
.numfooter_panel {
	width: 414px;
    height: 414px;
}
.numfooter_panel_head {
	height: 324px;
}
.numfooter .thumb1.left{
	float: left;
}
.numfooter .thumb1.right {
	float: right;
}

.personal_data {
	color: #1c4682;
    display: inline-flex;
    text-align: center;
    font-size: 20px;
	padding-top: 120px;
	margin-left: 50px;
}

.personal_data_ref {
	color: #1c4682;
	display: inline-flex;
	text-align: center;
	font-size: 20px;
	margin-top: 5px;
	margin-left: 85px;
	font-style: italic;
}


.border_bottom_dashed{
	border-bottom: 2px dashed #000;
}

.tel .thumb1 {
	height: 98px;
	width: 99px;
    float: none;
	background-color: #1c4682;
	margin: 1px;
}
.tel .thumb1text{
	font-size: 50px;
}

.tiket.tel1 {
	margin-bottom: 40px;
}
.recept-footer {
	margin-top: 150px;
	margin: auto;
	display: flex;
}
.recept-footer .thumb1 {
	margin: 0 auto;
	padding-top: 1px;
    float: none;
}

.font_128 {
    color: #1c4682;
    display: block;
    text-align: center;
    font-size: 128px;
}

.font_100 {
    color: #1c4682;
    display: block;
    text-align: center;
    font-size: 100px;
}

.font_48 {
	color: #1c4682;
	display: block;
	text-align: center;
	font-size: 48px;
}

.font_40 {
	color: #1c4682;
	display: block;
	text-align: center;
	font-size: 40px;
}

.font_32 {
    color: #1c4682;
    display: block;
    text-align: center;
    font-size: 32px;
}

.font_26 {
	color: #1c4682;
	display: block;
	text-align: center;
	font-size: 26px;
}

.font_24 {
	font-size: 24px;
}

.font_20 {
	font-size: 20px;
}

.font_16 {
    color: #1c4682;
    display: block;
    text-align: center;
    font-size: 16px;
}

.red {
    color: #d25752 !important;
}

.red_background {
	background-color: #d25752;
}

table.grid {
  padding : 5px;
  color   : black;
  border-spacing: 0;
  border-collapse : collapse;
  line-height : 1.2em;
}

table.grid td.grid {
  border  : solid 1px silver;
  padding : 5px;
}


/* service mode */

.btn_smode {
    font-size: 16px;
    color: #1c4682;
    text-align: center;
    height: 40px;
    width: 300px;
    border-radius: 6px;
    text-decoration: none;
    background-color: #e9e9e9;
}

.btn_smode.red {
    color: #d25752;
}

.btn_smode.green {
    color: darkgreen;
}

.log_info {
    color: #203258;
    background-color: #83d0c5;
}



/* Стилизация чекбокса */
input[type=checkbox] {
	display: none;
}

.checkbox label:before {
	border-radius: 3px;
	background-color: white;
	width: 26px;
	height: 26px;
	margin-top: -3px;
	margin-right: 10px;
	content: "";
	border-width: 1px;
	border-color: #1c4682;
	border-style: solid;
}

input[type=checkbox]:checked + label:before {
	background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH4wwaCCsLSeHsLwAAASJJREFUaN7tl8ERxCAIRdHZMqzHsnKwrNSTOuKevGRciQKKO/xbDkmA/0QAMJlMJpNpXE57gCEmAIBcnq/zqMbsNyh23t6REFM1iZor7h+S2AWtfQ97rxsqHfmVBKZt0Gq5oQ6tEaTUOTKK1DZovXFDDVoUpNQ4QkVKPVo9bixHiwOp5Y5wIaUWrRE3lqHFidQyR7iRKvogK+arNXMlUk20nnsy1w8lkMLQyrPREFussIB7qyjpBnbYHdehneGib1QcrRY1QM7m4Tgq2gpIGqmue2TUmZmNwXdiwNLNJO6j7g+GmO7WeyXIWUiRZi0KMqoSGU1GcsTxxMpmDUmQp9/rPNTsMyxV4h5nlu0jLcxmJMG+IT5b86wkpDbAG0wmk0lKXyqOk420//3wAAAAAElFTkSuQmCC') no-repeat center / 95% white;
}
/* /стилизация чекбокса */



.service_menu_bar {
	display: inline-flex;
}

.service_menu_btn {
	width:150px;
	height:60px;
	font-size: 14pt;
	cursor: none;
	background-color: #d25752;
	color: #fff;
	border-radius: 4px;
	margin-left: 30px;
	margin-right: 30px;
}

.overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3000;
    background: url(../images/loading.gif) center no-repeat ;
    background-size: 150px 150px;
}

.loader {
	width: 100%;
	height: 100%;
	background: url(../images/loading.gif) center no-repeat ;
	background-size: 150px 150px;
}


/* скроллы */

::-webkit-scrollbar-button {
	/*background-image:url('');*/
	/*background-repeat:no-repeat;*/
	width:5px;
	height:0px
}

::-webkit-scrollbar-track {
	background-color:#ecedee
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background-color:#1c4682;
}

::-webkit-scrollbar-thumb:hover{
	background-color:#d25752;
}

::-webkit-resizer{
	/*background-image:url('');*/
	/*background-repeat:no-repeat;*/
	width:4px;
	height:0px
}

::-webkit-scrollbar{
	width: 20px;
}

.pay_by_sbp {
	background:url(../images/sbp_short.png) no-repeat 18px 22px #d25752;
	background-size: 50px 50px;
	padding-left: 50px;
}

.pay_by_card {
	background:url(../images/pay_by_card.png) no-repeat 18px 22px #d25752;
	background-size: 50px 50px;
	padding-left: 55px;
}

.hidden {
	display: none;
}

.bonus_pin_dialog {

}

.bonus_pin_field_separator {
	font-size: 28px;
	color: #1c4682;
}

.bonus_pin_field {
	width: 36px;
	height: 50px;
	border-radius: 6px;
	text-decoration: none;
	border-color: #1c4682;
	border-style: solid;
	border-width: 2px;
	margin-right: 4px;
	margin-bottom: 15px;
	font-size: 32px;
	color: #1c4682;
	text-align: center;
}

.from_where_panel .regular_client {
	border-width: 6px;
	border-style: dashed;
	border-color: white;
}